server:
  port: 8080

spring:
  application:
    name: dota-match-announcer
  docker:
    compose:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

pandascore:
  token: ${PANDASCORE_TOKEN}
  base-url: https://api.pandascore.co