server:
  port: 8080

spring:
  application:
    name: dota-match-announcer
  docker:
    compose:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}
    chat-id: ${TELEGRAM_CHAT_ID}

pandascore:
  token: ${PANDASCORE_TOKEN}
  base-url: https://api.pandascore.co